<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Create Tought</a>
    </div>
    <h3>Your Toughts</h3>
    <ul>
        {{#each toughts}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/" class="btn">Edit</a>
                <form action="/toughts/delete" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Delete" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
</div>